@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans KR', sans-serif;
}


#list{

	
	margin-top: 60px;
	padding-bottom: 10%;
}


#table{

		width: 100%;
	table-layout: fixed;


	
}

#table tr td{

	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}


