@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans KR', sans-serif;
}
#movieInfo{

margin-top: 60px;
padding-bottom: 100px;

}

#posterProfile{
position: relative; /* 1:1 ratio */ overflow: hidden;



}

#poster img{
	
  width: 100%;
  height: 100%;
  background-size: cover;
  

}

#box2{
	margin-top : 30px;
	padding : 20px;

}

#box3{
		margin-top : 30px;
	padding : 20px;

}
#box4{
		margin-top : 30px;
	padding : 20px;

}
#box5{
	margin-top : 30px;
	padding : 20px;


}


/* 스틸컷 */

.carousel {
  position: relative;
}

.carousel-item {
	
	  text-align: center;
}
.carousel-item img {
  
background-size: cover;

}
#carousel-thumbs {

  background: rgba(255,255,255,.3);
  bottom: 0;
  left: 0;
  padding: 0 50px;
  right: 0;
}
#carousel-thumbs img {
  border: 5px solid transparent;
  cursor: pointer;
}
#carousel-thumbs img:hover {
  border-color: rgba(255,255,255,.3);
}

.carousel-control-prev,
.carousel-control-next {
  width: 50px;
}
@media all and (max-width: 767px) {
  .carousel-container #carousel-thumbs img {
    border-width: 3px;
  }
}
@media all and (min-width: 576px) {
  .carousel-container #carousel-thumbs {
    position: absolute;
  }
}
@media all and (max-width: 576px) {
  .carousel-container #carousel-thumbs {
    background: #ccccce;
  }
}
