@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans KR', sans-serif;
}

#movieInfo{

margin-top: 60px;
padding-bottom: 100px;

}

#posterProfile{
position: relative; /* 1:1 ratio */ overflow: hidden;



}

#poster img{
   
  width: 100%;
  height: 100%;
  background-size: cover;
  

}

#box2{
   margin-top : 30px;
   padding : 20px;

}
#box3{
      margin-top : 30px;
   padding : 20px;

}
#box4{
   margin-top : 30px;
   padding : 20px;

}
#box5{
   margin-top : 30px;
   padding : 20px;


}

.checked {
  color: orange;
}


/* 스틸컷 */

.carousel {
  position: relative;
}

.carousel-item {
   
     text-align: center;
}
.carousel-item img {
  
background-size: cover;

}
#carousel-thumbs {

  background: rgba(255,255,255,.3);
  bottom: 0;
  left: 0;
  padding: 0 50px;
  right: 0;
}
#carousel-thumbs img {
  border: 5px solid transparent;
  cursor: pointer;
}
#carousel-thumbs img:hover {
  border-color: rgba(255,255,255,.3);
}

.carousel-control-prev,
.carousel-control-next {
  width: 50px;
}
@media all and (max-width: 767px) {
  .carousel-container #carousel-thumbs img {
    border-width: 3px;
  }
}
@media all and (min-width: 576px) {
  .carousel-container #carousel-thumbs {
    position: absolute;
  }
}
@media all and (max-width: 576px) {
  .carousel-container #carousel-thumbs {
    background: #ccccce;
  }
}

.rating {
    float:left;
    width:300px;
}
.rating span { float:right; position:relative; }
.rating span input {
    position:absolute;
    top:0px;
    left:0px;
    opacity:0;
}
.rating span label {
    display:inline-block;
    width:30px;
    height:30px;
    text-align:center;
    color:#FFF;
    background:#ccc;
    font-size:30px;
    margin-right:2px;
    line-height:30px;
    border-radius:50%;
    -webkit-border-radius:50%;
}
.rating span:hover ~ span label,
.rating span:hover label,
.rating span.checked label,
.rating span.checked ~ span label {
    background:#F90;
    color:#FFF;
}