@charset "UTF-8";


*{
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans KR', sans-serif;
}
#emailImg{
	

width: 55%;
 height: 110%; 
 text-align: center;
margin-left: 25%;
	
}

#btn{
	
	width: 300px;
	height : 40px;


}

#btnDiv{
	
margin-left: 25%;
margin-top: 5%;

	
}

.mailsend{

	width: 400px;

	background-color: pink;
}
