@charset "UTF-8";


*{
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans KR', sans-serif;
}


.modal{
	
	z-index: 1050;
	position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
}