@charset "UTF-8";

/* -------------------------------- 

File#: _1_thank-you
Title: Thank You
Descr: Order confirmation template
Usage: codyhouse.co/license

-------------------------------- */

*{
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans KR', sans-serif;
}

.thank-you {
  position: relative;
  z-index: 1;
}

.thank-you__icon {
  width: 80px; 
  height: 80px; 
}

@keyframes thank-you-icon {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes thank-you-icon-check {
  from {
    stroke-dashoffset: 55;
  }
  to {
    stroke-dashoffset: 0;
  }
}