@charset "UTF-8";


*{
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans KR', sans-serif;
}

#movieListTable{
	border: 1px solid black;
}



#list{

	
	margin-top: 60px;
	padding-bottom: 10%;
}


#listTable{
	width: 100%;
	table-layout: fixed;

	
}

#listTable tr td{

	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
