@charset "UTF-8";



.default {background-color: #e7e7e7; color: black;
		text-decoration: none;} /* Gray */ 
.default:hover {background: #ddd;}

/* 하단 버튼 */
.d01 {
	margin : 5px 0px;
}

/* 모달 팝업 */
.modal {   /* 모달 전체 적용 */	
	background-color: rgba(0, 0, 0, 0.4);
	width: 100%;
	height: 100%;
	position : fixed;
	top: 0;
	left: 0;
	z-index: 1050;
	padding-top: 40px;  /* 내부여백  */
	overflow: auto;
}

.modal .modal-content {
	background-color: #fefefe;  /* 배경은 흰색 */
	width: 20%;   /* 화면대비 80% */
	margin: 5% auto 15% auto;  /* 위에서 5%,  아래에서 15%, 좌우 중앙정렬 */
	border: 1px solid #888;  /* 테두리 */
}

.modal .container {
	padding: 16px;
	position: relative;  /* 이래야 안에 있는 absolute 들이 동작 */
} 

.modal .close {  /* close 버튼 */
	font-size: 35px;	
	font-weight: bold;
	color: #000;
	position: absolute;
	right: 25px;
	top: 0px;
}

.modal .close:hover,
.modal .cloas:focus {
	color: red;
	cursor: pointer;
}



#list table { width: 50%;}
#list table, #list th, #list td {
	border: 1px solid black;
	border-collapse: collapse;
	margin-right: 30px;

}

#list td, #list th {
	padding: 10px;	
}

#list .subject:hover {   /* 글 제목 위에 커서 올린 경우 */
	text-decoration: underline;
	color : orange;
	cursor: pointer;
}


/* 좌석 선택 모달 팝업 */
.seatModal {   /* 모달 전체 적용 */	
	background-color: rgba(0, 0, 0, 0.4);
	width: 100%;
	height: 100%;
	position : fixed;
	top: 0;
	left: 0;
	z-index: 1050;
	padding-top: 40px;  /* 내부여백  */
	overflow: auto;
	text-align: center;
	display: none;
}

.seatModal .seatModal-content {
	background-color: #fefefe;  /* 배경은 흰색 */
	width: 50%;   /* 화면대비 80% */
	margin: 5% auto 15% auto;  /* 위에서 5%,  아래에서 15%, 좌우 중앙정렬 */
	border: 1px solid #888;  /* 테두리 */
	overflow: auto;
}

.seatModal .container {
	padding: 16px;
	position: relative;  /* 이래야 안에 있는 absolute 들이 동작 */
} 

.seatModal .close {  /* close 버튼 */
	font-size: 35px;	
	font-weight: bold;
	color: #000;
	position: absolute;
	right: 25px;
	top: 0px;
}

.seatModal .close:hover,
.seatModal .cloas:focus {
	color: red;
	cursor: pointer;
}

.seatModal #table{
	display: inline-block;
}

.seatModal #seatscreen{
	background: lightgray;
	font-size: 22px;
	height: 30px;
	line-height: 33px;
}



input[type="checkbox"] + label { 

	display: inline-block; 
	
	cursor: pointer; 
	
	line-height: 80px;
	
	font-size : 20px;
	
	
	
	width: 60px;
	
    height: 60px;
	
	/* background : url('../../img/img1.jpg') no-repeat 0 0px / contain; */
	background : purple;
	
	text-align: center;
}
	

input[type='checkbox']:checked + label { 
	/* background : url('../../img/img2.jpg') no-repeat 0 1px / contain; */
	background : gray; 
	}

input[type="checkbox"] { display:none; }

input[type="hidden"] + label { 

	display: inline-block; 
	
	cursor: pointer; 
	
	line-height: 80px;
	
	font-size : 20px;
	
	color : #000000;
	
	width: 60px;
	
    height: 60px;
	
	background : url('../../img/x2.png') no-repeat 0 0px / contain; 
	background-size: 60px 60px;
	/* background : purple; */
	
	text-align: center;
}
	

input[type='hidden']:checked + label { 
	/* background : url('../../img/img2.jpg') no-repeat 0 1px / contain; */
	background : gray; 
	}

input[type="hidden"] { display:none; }
























