@charset "UTF-8";

/* 기본 버튼 */
.btn {
  border: none;
  color: white;
  padding: 10px 10px;
  font-size: 12px;
  cursor: pointer;
}

.danger {background-color: #f44336;} /* Red */ 
.danger:hover {background: #da190b;}


#listHeader{

	
	margin-top: 60px;
	padding-bottom: 10%;
}

#table{
	width: 100%;
	table-layout: auto;
	
}

#table tr td{

	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}



/* 글 목록 */
#list table { width: 100%;}
#list table, #list th, #list td {
	border-collapse: collapse;
}

#list td, #list th {
	/* font-size : 13px; */
	padding: 10px;	
}


.clear {
	clear: both;
}

.left {
	float:left;
}

.right {
	float:right;
}

/* 페이징 */
.center {
    text-align: center;
}

ul.pagination{
	list-style-type:none
}

ul.pagination li{
    display: inline-block;
}

ul.pagination a {
    color: black;
    float: left;
    padding: 4px 8px;
    text-decoration: none;
    transition: background-color .3s;
    /* border: 1px solid #ddd; */
    /* margin: 0 4px; */
    margin: 0px;
}

ul.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

ul.pagination a:hover:not(.active) {background-color: #ddd;}


/* 하단 버튼 */
.d01 {
	margin : 5px 0px;
}

/* 모달 팝업 */





















