@charset "UTF-8";

body{
   width: 100%;
   margin : 0 auto;
}

.container2{
   margin : 50px auto;
   width: 1200px;
   display: flex;
   flex-direction: row;
}


#userUpdate{
   width: 60%;
   margin-top : 20px;
   padding : 30px 30px;
}
#title1{
   text-align: center;
}
#initUpdate{
   margin-top: 50px;
   padding-top: 1px;
   padding-left : 20px;
   width: 100%;
   /* height: 93%; */
   border : 1px solid #d8d8d8;
}
.memInfo{
   width: 100%;
   margin : 50px 0px 50px 0px;
}
#submitDiv{
   text-align: center;
}

#inputPw, #inputPwChk{
   width: 80%;
   display : inline-block;
   margin-left: 10px;
}
#inputPhone1,#inputPhone2,#inputPhone3{
   width: 80px;
   display : inline-block;
   margin-left : 10px;
}

#userDelete{
   width: 40%;
   margin-top : 20px;
   padding : 30px 30px;
}
#title2{
   text-align: center;
}
#initDelete{
   margin-top: 50px;
   padding-top: 1px;
   padding-left : 20px;
   width: 100%;
   border : 1px solid #d8d8d8;
}
.memDelete{
   width: 100%;
   margin : 50px 0px 50px 0px;
}
#deleteDiv{
   text-align: center;
}
#deleteChk{
   display: inline-block;
   margin-left : 10px;
   width: 70%;
}





